<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="stylesheet" type="text/css" href="/css/custom.css">

  <title>Civ Builder</title>
</head>
<body>

<header>

  <div class="hero">
    <div class="hero-title">Civ Builder</div>
    <a class="login">Login</a>
  </div>

</header>
  <div class="content">
    <div class="main">
      {{{body}}}
    </div>
    <div class="left-bar">
      <div class="chat-container">
        <h3>Chat</h3>
        <div class="chat-box"></div>
        <form id="chatForm">
          <input type="text" name="message" />
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
  

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.0.4.js"></script>
  <script src="/js/socketListeners.js"></script>  
</body>

</html>