<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  
  <title>Civ Builder</title>
</head>
<body>

<header>

  <div class="hero">
    <div class="hero-title">Civ Builder</div>
  </div>

</header>
  <div class="content">
    {{{body}}}
  </div>
</body>

</html>