<div class="profile">  
 
<h1>Profile</h1>

<div class="profile-container">
  <div class="profile-info username">
    <div>Username:</div> {{user.username}}
  </div>
  <div class="profile-info password">
    <div>Email:</div> {{user.email}}
  </div>
</div>
<hr />
<h2>Change Password</h2>
<form method="PUT" action="">
  <label>New Password</label>
  <input name="newPassword" type="password" />
  <label>Confirm New Password</label>
  <input name="newPasswordConfirm" type="password" />
  <button type="submit">Change</button>
</form>

</div>
