body{
  padding: 0;
  margin: 0;
}

.hero{
  position: relative;
  height: 200px; 
  background-color: #5274FF;
}
.hero .hero-title{
  font-size: 50px; 
  color: #EEE; 
  padding-top: 65px; 
  padding-left: 50px;
}
.hero a.login, .hero p{
  position: absolute;
  top: 50px;
  right: 20%;
}
.hero p{
  padding: 0;
  margin: 0;
  color: #AAA;
  font-size: 24px;
}
.hero p .profile-link{
  display: inline-block;
}
.hero a.login, .hero a.logout{
  padding: 10px 15px;
  background-color: #EEE;
  border-radius: 3px;
  cursor: pointer;
}
a.login:hover, .hero a.logout:hover{
  box-shadow: 1px 1px 7px 0px #555;
}
a.login:active, .hero a.logout:active{
  box-shadow: -1px -1px 3px 0px #555;
}
.hero a.logout{
  top: 10px;
  position: absolute;
  right: 10%;
  padding: 5px 10px;
  font-size: 16px;
}



.content{
  margin: 0 10%;
}

.player{
  display: block;
  clear: both;
}
.playerName {
  float: left;
}
.deletePlayer form{
  float: left;
}
.content .main{
  width: 60%;
  float: left;
}
.left-bar{
  float: right;
  width: 40%;
}

.chat-container .chat-box{
  min-height: 200px;
  border: 1px solid #AAA;
}
.chat-container .chat-box p{
  padding: 0;
  margin: 0;
}
.chat-container form input[name=message]{
  width: 60%;
}
.login-form{
  margin: 100px auto 0 auto;
  width: 50%;
}

.profile-container{
  margin: 0 15%;
}
.profile-container .profile-info{
  display: block;
  margin-top: 20px;
  font-size: 24px;
}
.profile-container .profile-info div{
  font-weight: bold;
  width: 20%;
  display: inline-block;
}